.container-2{
    margin:20px;
    }
    .row{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .content{
       display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 292px;
    opacity: 0;
    }
    .content:hover{
    opacity: 1;
    }
    .col-box-1{
        background-color: rgba(255, 255, 255, 0.5);
        height: 0;
       transition:.5s ease;
    }
    .col-box-1:hover{
        height: 100%;
    }
    
    .content h1{
        font-size: 20px;
        font-weight: 600;
        color: #000;
        text-align: center;
    }
    .content p{
        font-size: 12px;
        font-weight: 500;
        color: #000;
        text-align: center;
    }
    .col-1{
        background-color: #000;
        height: 292px;
        flex: 1 1 360px;
    }
    .box-1{}
    
    .box-2{
        background: url('/Images/img-5.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center;
        flex: 722px !important;
    }
    .box-3 {
        background: url('/Images/Mask\ group.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
    }
    
    .box-4 {
        background: url('/Images/img-3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
         background-position: center;
        flex: 722px !important;
    }
    .box-5 {
        background: url('/Images/img-7.png');
        background-repeat: no-repeat;
        background-size: cover;
         background-position: center;
    
    }
    .box-6 {
        background: url('/Images/img-9.png');
        background-repeat: no-repeat;
        background-size: cover;
         background-position: center;
    }
    .box-7 {
        background: url('/Images/img13.jpg');
        background-repeat: no-repeat;
        background-size: cover;
         background-position: center;
    
    }
    .box-8 {
        background: url('/Images/img-2.png');
        background-repeat: no-repeat;
        background-size: cover;
         background-position: center;
    }
    .box-9 {
        background: url('/Images/img-1.png');
        background-repeat: no-repeat;
        background-size: cover;
         background-position: center;
        flex: 722px !important;
    }