.flex-Container {
    display: flex;
    align-items: stretch;
}

.flex-Container div {
    width: 100%;
    margin: 10px;
    text-align: center;
    line-break: 75px;
}

.header {
    display: flex;
}

.top-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 20px;
    float: right;
}

nav a {
    margin-left: 10px;
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-size: 20px;
}

.flex-Container01 {
    display: flex;
}

.flex-Container01 section1 {
    width: 100%;
    text-align: center;
    line-height: 75px;
}

.headerimage {
    width: 100%;
    height: auto;
}

.flex-Container02 {
    display: flex;
}

.flex-Container02 section2 {
    width: 100%;
    margin: 10px;
    text-align: center;
}

.text01 {
    text-align: center;
}

.flex-Container03 {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.flex-Container03 section03 {
    width: 100%;
    margin: 10px;
    text-align: center;
}

.flex-item-left {
    padding: 10px;
    flex: 50%;
}

.flex-item-right {
    padding: 10px;
    flex: 50%;
}