* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: "Poppins";
}

.flex-container {
    display: flex;
    width: 100%;
}

.logocontainer .logo {
    width: 90px;
    height: auto;
    cursor: pointer;
}

.logocontainer {
    width: 100%;
    text-align: center;
}