body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0; padding: 0;
}
/* MAIN THEMATIC OF WEBSITE */

h1 {
  font-size: 96pt;
}
h2 {
  font-size: 33pt;
}
h3 {
  font-size: 26pt;
}
h4 {
  font-size: 19pt;
}
h5 {
  font-size: 19pt;
}
p {
  font-size: 11pt;
}

/* off  */
flex-togg{
  display: flex; justify-content: center;margin: 20%; text-align: center;
}