* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: "Poppins";
}

.Aboutlogocontainer .logo {
    width: 90px;
    height: auto;
    cursor: pointer;
}

.Aboutlogocontainer {
    width: 100%;
    text-align: center;
}

.Aboutflex-Container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    padding: 10px;
}

.section1 {
    text-align: right;
}

.section2 img {
    width: 291px;
    height: auto;
}

.about h1 {
    font-size: 70px;
    line-height: 1;
    font-weight: 600;
    margin-bottom: 43px;
}

.aboutP {
    font-size: 13px;
}

.aboutP p {
    max-width: 623px;
    margin-bottom: 12px;
}

.abouth2 {
    font-size: 13px;
    margin-bottom: 60px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* column-gap: 1%; */
    flex-wrap: wrap;
}

.form form input {
    height: 25px;
    outline: none;
    border: 1px solid #000;
    border-radius: 11px;
    padding: 10px;
    font-size: 17px;
    margin-top: 10px;
    color: #C2C2C2;
    width: 100%;
}

.form .btn button {
    height: 25px;
    width: 60px;
    outline: none;
    border: none;
    border-radius: 11px;
    padding: 10px;
    background: #58AAE5;
    color: #fff;
    font-size: 17px;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 25px;
}

.about-text {
    max-width: 1133px;
    margin: auto;
    text-align: center;
}

.about-text p {
    font-size: 13px;
    padding: 10px;
}

@media (max-width:768px) {
    .section1 {
        text-align: center;
    }
    .form {
        justify-content: center;
    }
    .about h1 {
        font-size: 50px;
    }
}

@media (max-width:425px) {
    .about h1 {
        font-size: 40px;
    }
}

.flex-containerfooter {
    display: flex;
}

.flex-containerfooter div {
    width: 100%;
    background-color: #222222;
    height: 66px;
}

.footertext p {
    width: 100%;
    text-align: center;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: poppins;
    height: 100%;
    color: #fff;
    overflow: hidden;
    font-size: 12px;
}