* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: "Poppins";
}

.Aboutlogocontainer .logo {
    width: 90px;
    height: auto;
    cursor: pointer;
}

.Aboutlogocontainer {
    width: 100%;
    text-align: center;
}

.Aboutflex-Container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.section1 {
    text-align: right;
}

.about h1 {
    font-size: 70px;
    line-height: 1;
}

.aboutP {
    font-size: 13px;
}

.aboutP p {
    max-width: 623px;
}

.abouth2 {
    font-size: 13px;
    margin-bottom: 60px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* column-gap: 1%; */
    flex-wrap: wrap;
}

.form form input {
    height: 25px;
    outline: none;
    border: 1px solid #000;
    border-radius: 11px;
    padding: 10px;
    font-size: 17px;
    color: #C2C2C2;
    width: 100%;
}

.form .btn button {
    height: 25px;
    width: 60px;
    outline: none;
    border: none;
    border-radius: 11px;
    padding: 10px;
    background: #58AAE5;
    color: #fff;
    font-size: 17px;
    margin-left: 25px;
}

.about-text {
    max-width: 1133px;
    margin: auto;
    text-align: center;
}

.about-text p {
    font-size: 13px;
}