* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.flex-container {
    display: flex;
}

.logo {
    width: 90pt;
    height: auto;
    cursor: pointer;
}

.logocontainer {
    width: 100%;
    text-align: center;
}

.flex-Container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
}

.flex-Container1 div {
    width: 100%;
}

.section1 {
    text-align: right;
}

.abouttextcontainer {
    display: flex;
    flex-direction: column;
}

.about {
    font-size: 85pt;
    font-family: poppins;
}

.aboutP {
    font-size: 10pt;
    font-family: poppins;
    text-align: right;
}

.aboutP p {
    width: 623px;
    float: right;
}

.abouth2 {
    font-family: poppins;
    font-size: 13pt;
}

.section2 {
    /* float: left; */
    justify-content: center;
}

.form {
    display: flex;
}

.form form input {
    height: 30pt;
    outline: none;
    border: 1px solid #000;
    border-radius: 5pt;
    padding: 10px;
    font-size: 11pt;
    float: right;
    width: 100%;
}

.form .btn button {
    height: 30pt;
    width: 60pt;
    outline: none;
    border: none;
    border-radius: 5pt;
    padding: 10px;
    background: #58AAE5;
    color: #fff;
    font-size: 11pt;
}