/* Media Query */

@media (max-width:900px) {
    .bannercontainer {
        flex-wrap: wrap;
        height: auto;
    }
    .flex-banner {
        height: auto;
    }
    .heading01 {
        margin: 5%;
        width: 100%;
    }
    .banner01 {
        margin: 5%;
    }
    .flex-Container04 {
        width: 83%;
    }
    .flex-Container02 {
        width: 83%;
    }
    .heading01 {
        text-align: center;
    }
    .heading01 p {
        text-align: center;
    }
    .heading01 h2 {
        font-size: 14px;
    }
}

@media (max-width:768px) {
    .text01 {
        font-size: 3vw;
    }
    nav {
        float: right;
        background: rgb(117, 116, 116);
        position: absolute;
        right: 0;
        top: 70pt;
    }
    nav ul li {
        display: block;
        padding: 10pt 75pt 32px 13px;
    }
    nav ul li a {
        color: #fff;
    }
    #menu-icon {
        display: block;
    }
}

@media (max-width:1052px) {
    .flex-container06 div {
        flex-wrap: wrap;
    }
    .flex-container06 .flex-container-text h1 {
        text-align: center;
    }
    .flex-container06 .flex-container-text h2 {
        text-align: center;
    }
    .flex-container06 .flex-container-text h3 {
        text-align: center;
    }
    .flex-container06 .flex-container-text p {
        text-align: center;
    }
}

@media (max-width:500px) {
    form {
        flex-wrap: wrap;
    }
    .flex-container06 .flex-container-text h1 {
        text-align: center;
        font-size: 30px;
    }
    .flex-container06 .flex-container-text h2 {
        text-align: center;
        font-size: 40px;
    }
    .flex-container06 .flex-container-text h3 {
        text-align: center;
        font-size: 30px;
    }
    .flex-container06 .flex-container-text p {
        text-align: center;
        font-size: 14px;
    }
    .heading01 h1 {
        font-size: 26px;
    }
    .text01 {
        font-size: 5vw;
    }
    .text02 {
        font-size: 20px;
    }
    .text04 {
        font-size: 22px;
    }
    .text02 {
        font-size: 16px
    }
    .Container .text h2 {
        font-size: 20pt;
    }
    .textteam {
        font-size: 11pt;
    }
}

@media (max-width:425px) {
    .flex-Container-3 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .box-image {
        /* width: 50%; */
    }
}