* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    overflow-x: hidden;
}

.flex-container {
    display: flex;
}

.logo {
    width: 90pt;
    height: auto;
    cursor: pointer;
}

.logocontainer {
    width: 100%;
    text-align: center;
}

.flex-container01 {
    display: flex;
}

.nav {
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

nav a {
    margin-left: 10px;
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-size: 13px;
    font-family: "Poppins";
    width: 300;
    line-height: 19.5px;
}

.flex-banner {
    width: 100%;
    height: 496px;
    margin: auto;
    overflow: hidden;
}

.bannercontainer {
    display: flex;
    margin-top: 10px;
    justify-content: space-evenly;
    align-items: center;
    height: 496px;
    overflow: hidden;
}

.heading01 {
    margin-left: 5%;
}

.banner01 {
    margin-right: 5%;
}

.heading01 h1 {
    font-size: 5vw;
    font-weight: 600;
    line-height: 1;
    overflow: hidden;
}

.heading01 h2 {
    font-size: 1.5vw;
    font-weight: 500;
    margin-bottom: 10px;
}

.heading01 p {
    text-align: justify;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
    width: 88%;
}

.bannerimage img {
    width: 100%;
    height: auto;
}


/* Media Query */

@media (max-width:900px) {
    .bannercontainer {
        flex-wrap: wrap;
        height: auto;
    }
    .flex-banner {
        height: auto;
    }
}

.flex-Container02 {
    width: 100%;
    margin: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text01 {
    text-align: center;
    font-family: poppins;
    font-weight: 500;
    font-size: 26px;
}

.text02 {
    text-align: center;
    font-family: poppins;
    font-weight: 400;
    font-size: 19px;
}

.text03 {
    text-align: center;
    font-family: poppins;
    font-weight: 300;
    font-size: 13px;
    width: 40%;
}

.flex-Container03 {
    display: flex;
}

.button1 {
    background-color: #6DC2FF;
    border: 2px solid #58AAE5;
    border-radius: 27px;
    width: 195pt;
    height: 37px;
    margin: 30px;
    margin-top: 40pt;
    filter: drop-shadow(20px 10px 10px rgba(156, 214, 255, 0.7));
}

.button {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 17px;
    cursor: pointer;
    font-family: poppins;
}

.flex-Container-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 414pt;
}

.text {
    text-align: center;
    padding: 10pt;
}

.Container .text h2 {
    font-size: 25pt;
    font-weight: 500;
    text-transform: uppercase;
    padding: 3pt;
}

.Container .text p {
    font-size: 10pt;
    font-weight: 300;
    padding: 3pt;
}

.box {
    width: 50%;
    height: 414pt;
    background: #000;
    transition: 0.8s ease;
}

.box-2 {
    width: 50%;
    height: 414pt;
    background: rgb(211, 15, 15);
    transition: 0.8s ease;
}

.box-image {
    overflow: hidden;
    flex: 1;
    height: 414pt;
    transition: 1s;
}

.box-image img {
    width: 100%;
    object-fit: cover;
    height: 400pt;
}

.box-image:hover {
    flex: 4;
}