.header-backgroung {
    background: var(--background-gradient);
    height: auto;
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
}

.logo h1 {
    color: var(--logo-color);
    font-size: var(--logo-size);
}

.navbar nav ul li {
    display: inline;
    list-style-type: none;
    padding: 20px;
}

.navbar nav ul li a {
    text-decoration: none;
    color: var(--list-color);
    font-weight: 500;
    font-size: 20px;
}


/* .header-btn button {
    padding: 15px 25px;
    background: var(--button-color);
    border: 2px solid #b2b1b1;
    border-radius: 10px;
    font-size: 17px;
    color: #5b5b5b;
    font-weight: 600;
} */