.best-slider-text h2 {
    font-size: 37px;
    color: #9027ee;
    font-weight: 600;
    padding: 5% 0 7% 0;
}

.box-background {
    background: #944cde;
    padding: 50px;
}

.maxWidth {
    max-width: 1272px;
    margin: auto;
}

.box-flex {
    display: flex;
    align-items: center;
    text-align: center;
}

.box-icons {
    font-size: 50px;
    color: #efae37;
    text-align: center;
}

.box-text h2 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 10px;
}

.box-text p {
    font-size: 18px;
    font-weight: 400;
    max-width: 218px;
    color: #a3a1a1;
}