.best-slider-text h2 {
    color: var(--text2-color);
    padding: 5% 0 7% 0;
}

.box-background {
    /* background: #ffd463; */
    padding: 50px;
}

.box-background:hover {
    background: #ffd463;
}

.maxWidth {
    max-width: 1272px;
    margin: auto;
}

.box-flex {
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 95px;
    background: #944cde;
    border: 20px solid var(--border-color);
    outline: #fff;
}

.box-icons {
    font-size: 50px;
    color: #efae37;
    text-align: center;
}

.box-text h2 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 10px;
}

.box-text p {
    max-width: 218px;
    color: var(--ptext-color);
}