.model .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay-2 {
    background: rgba(49, 49, 49, 0.8);
}

.model-content {
    position: absolute;
    top: 190%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    /* max-width: 100%; */
    /* min-width: 300px; */
    width: 50%;
    height: auto;
}

.form-flex {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}

.save-overlay-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}