    .Footer-Flex {
        display: flex;
        margin-top: 10px;
        justify-content: space-between;
        background-color: #262626;
        padding: 20px 70px 20px 70px;
    }
    
    .Footer-Heading h1 {
        font-size: 49px;
        font-weight: 500;
        line-height: 1;
        color: #ECECEC;
        padding-bottom: 5px;
    }
    
    .Footer-Heading-Text p {
        font-size: 12px;
        font-weight: 200;
        color: #ECECEC;
        line-height: 20.57px;
        padding: 2px;
    }
    
    .Footer-Second-Section {
        margin-top: 23px;
    }
    
    .Footer-Second-Section p {
        font-size: 12px;
        font-weight: 200;
        color: #ECECEC;
        padding: 2px;
    }
    
    .width2 {
        text-align: center;
    }
    
    .Footer-Career-Text h2 {
        color: #ECECEC;
        font-size: 17px;
        font-weight: 200;
        line-height: 20.57px;
        font-family: "Inter";
    }
    
    .Footer-Career h1 {
        font-size: 58px;
        font-weight: 500;
        color: #ECECEC;
        padding-top: 15px;
    }
    
    .Footer-Career-Text h3 {
        color: #ECECEC;
        font-size: 23px;
        font-weight: 200;
        line-height: 27.84px;
        padding-top: 20px;
        cursor: pointer;
        font-family: "Inter";
    }
    
    .width1 {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    @media (max-width:425px) {
        .Footer-Heading h1 {
            font-size: 35px;
        }
        .Footer-Career h1 {
            font-size: 45px;
        }
        /* .width2 {
            text-align: left;
        } */
        .Footer-Flex {
            padding: 20px;
        }
    }
    
    @media (max-width:550px) {
        .Footer-Flex {
            flex-wrap: wrap;
        }
    }