.Footer-Flex {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #262626;
    padding: 20px 70px 20px 70px;
}

.Footer-Heading h1 {
    font-size: 49px;
    /* font-family: "Inter"; */
    font-weight: 500;
    line-height: 1;
    color: #ECECEC;
    padding-bottom: 5px;
}

.Footer-Heading-Text p {
    font-size: 12px;
    /* font-family: "Inter"; */
    font-weight: 200;
    color: #ECECEC;
    line-height: 20.57px;
    padding: 2px;
}

.Footer-Second-Section p {
    font-size: 12px;
    /* font-family: "Inter"; */
    font-weight: 200;
    color: #ECECEC;
    padding-top: 7px;
    line-height: 1.2;
}

.Footer-Career-Text {
    text-align: center;
}

.Footer-Career-Text h2 {
    color: #ECECEC;
    font-size: 17px;
    font-weight: 200;
    line-height: 20.57px;
    padding-left: 100px;
    font-family: "Inter";
}

.Footer-Career h1 {
    text-align: center;
    font-size: 58px;
    font-weight: 500;
    color: #ECECEC;
    padding-left: 100px;
    padding-top: 15px;
}

.Footer-Career-Text h3 {
    color: #ECECEC;
    font-size: 23px;
    font-weight: 200;
    line-height: 27.84px;
    padding-top: 20px;
    padding-left: 100px;
    cursor: pointer;
    font-family: "Inter";
}

.width1 {
    display: flex;
    /* width: 41%; */
    align-items: center;
    justify-content: space-evenly;
}


/* .width2 {
  width: 35%; 
} */