.Savecontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

.saveimage img {
    width: 179px;
    height: 476px;
}

.savetext h2 {
    font-size: 47px;
    font-weight: 400;
    line-height: 1;
    color: #3D3D3D;
}

.savetext h1 {
    font-size: 61px;
    font-weight: 400;
    line-height: 1;
    color: #000000;
}

.savetext p {
    font-size: 19px;
    font-weight: 400;
    line-height: 1;
    color: #000000;
}

.inputbtn {
    margin: 20px 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputbtn input {
    width: 100%;
    height: 47px;
    background: #FFFFFF;
    border: 2px solid #D1E5F3;
    border-radius: 11px;
    font-weight: 500;
    font-size: 17px;
    outline: none;
    padding-left: 10px;
    color: #C2C2C2;
}

.inputbtn button {
    width: 118px;
    height: 47px;
    background: #6DC2FF;
    border: 2px solid #58AAE6;
    box-shadow: 0px 14px 28px rgba(156, 214, 255, 0.67);
    border-radius: 11px;
    font-size: 17px;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
}